nav{
	display: grid;
  	grid-template-columns: 20% 50% 10%;
    grid-column-gap: 5%;
	align-items: center;
	min-height: 12vh;
	background-color:white;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.3);
     align-items: center;
}
.nav-logo{text-align: center;}
.nav-logo > img{
	width: 40%;
    height: auto;
}

.nav-links{
	 display: grid;
     grid-template-columns: 26% 18% 18% 18%;
     justify-content: center;
     width: 100%;
     height: auto;
      align-items: center;
}
.nav-links a{
	
	text-decoration: none;
	color: #009e0f;
	font-weight: bold;
	font-size: 1.2vw;
	width: 100%;
	  height: auto;
	  text-align: center;
}
.nav-links li{
	
	list-style: none;
text-align: center;
	
}
nav > .accedi > button{
	text-align: center;
	background-color: #009e0f;
	color:white;
	font-weight: bold;
	 border: none;
	 box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
	 height: 50px;
	 border-radius: 4px;
	 width: 100px;
}
.dropdown-content {
  display: none;
  position: relative;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
-active{
	
	transform: translateX(0%);
	
	
}
table { 
  width: 100%; 
  border-collapse: collapse; 
}
thead{
     	align-content: center;
		background-color: #009e0f;
		font-weight: bold;
		color:white;
	
	
}
/* Zebra striping */
tr:nth-of-type(odd) { 
  background: #eee; 
}
th { 
 	align-content: center;
		background-color: #009e0f;
		font-weight: bold;
		color:white; 
}
td, th { 
  padding: 6px; 
  border: 1px solid #ccc; 
  text-align: left; 
}
@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {
	.carousel-item{
	height: 30em;
}
	/* Force table to not be like tables anymore */
	
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}
	
	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
	
	/*
	Label the data
	*/
	td:nth-of-type(1):before { content: "First Name"; }
	td:nth-of-type(2):before { content: "Last Name"; }
	td:nth-of-type(3):before { content: "Job Title"; }
	td:nth-of-type(4):before { content: "Favorite Color"; }
	td:nth-of-type(5):before { content: "Wars of Trek?"; }
	td:nth-of-type(6):before { content: "Secret Alias"; }
	td:nth-of-type(7):before { content: "Date of Birth"; }
	td:nth-of-type(8):before { content: "Dream Vacation City"; }
	td:nth-of-type(9):before { content: "GPA"; }
	td:nth-of-type(10):before { content: "Arbitrary Data"; }
}
.tab {
  float: left;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  width: 10%;
  height: 5%;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  float: left;
  border: 1px solid #ccc;
  width: 90%;
  border-left: none;
  height: 70%;
}




.contenuto-registro{
		display: grid;
	
	width: 80%;
	grid-template-columns: 80% 15%;
	margin-left:15%;
	margin-right:15%;
	margin-top:5%;
	height: 1024px;
	
}
.contenuto-registro > .registro{
	width: 100%;
	height: 1024px;
	
}
.contenuto-registro > .function-registro{
	width: 100%;
	height: 1024px;
	
}
.function-registro > ul {
		height: 25%;
		width: 100%
}
.function-registro > ul > li{
		list-style: none;
		margin-top: 5%;
		height: 50%;
		width: 100%;
}
.function-registro > ul > li > button{
		width: 100%;
		height: 30%;
		align-content: center;
		background-color: #009e0f;
		font-weight: bold;
		color:white;

		 border-radius: 4px;
}
.carousel-item{
	height: 40em;
}
#presentazione{
	
	margin-top:50px;
	
}
.green{
	
	background-color: green;
	
}

.footer{
padding-top: 3%;	
color:white;
}
.row > .col > ul {
margin-left: 0px;	
padding-left: 0px;
	
	
}
.row > .col > ul >li{
list-style: none;	
	
	
}
.row > .col > h5{
border-bottom: 1px solid;	
	
}



