*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	
}
.nav-logo{margin-left: 10%}
.nav-logo > img{
	width: 30%;
    height: auto;
	
}
nav{
	display: grid;
  	grid-template-columns: 20% 50% 10%;
    grid-column-gap: 5%;
	align-items: center;
	min-height: 12vh;
	background-color:white;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.3);

}
nav > button{
	background-color: #009e0f;
	color:white;
	font-weight: bold;
	 border: none;
	 box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
	 height: 50px;
	 border-radius: 4px;
	 width: 100px;
}
.nav-links{
	 display: grid;
     grid-template-columns: 25% 25% 25% 25%;
     grid-column-gap: 5%;
     justify-content: center;
     min-width: 100%;
     height: auto;
}
.nav-links a{
	
	text-decoration: none;
	color: #009e0f;
	font-weight: bold;
	font-size: 1.4em;
}
.nav-links li{
	
	list-style: none;
	
}
.burger div{
	
	
	width: 25px;
	height: 5px;
	background-color: white;
	margin:5px;
	
}
.burger{
	
	display: none;
}
@media only screen and (max-width:768px){
	body{
		overflow-x: hidden;
	}
	nav{
		display: grid;
        grid-template-columns: 90% 10%;
		align-content: center;
		align-self: center
	}
	.nav-links{
		position: absolute;
		right: 0px;
		height: 92vh;
		top :8vh;
		display: flex;
		flex-direction: column;
		align-items: center;
		background-color:white;
		transform: translateX(100%);
	
	}
	.burger{
		display: block;
	}
}
.nav-active{
	
	transform: translateX(0%);
	
	
}