@charset "ISO-8859-1";

body {
	font-family: Arial, Helvetica, sans-serif;
}

/* Caselle di input */
input[type=text], input[type=password] {
	width: 100%;
	padding: 20px 25px;
	margin: 18px 0;
	display: inline-block;
	border: none;
	box-sizing: border-box;
	background: transparent;
	border-bottom: 1px solid white;
  	
}

input[type=text]:focus, input[type=password]:focus{
	-webkit-transition: 0.2s;
 	 transition: 0.2s;
 	 border-bottom: 3px solid #009e0f;
}

/* Checkbox di 'Ricordami' quando cliccata */
input[type="checkbox"] {
	box-sizing: border-box;
	padding: 0;
}

/* Checkbox disposizione */
.checkbox{
position: absolute;
display: inline-block;
left: 5%;
}

/* Cambia forma il puntatore quando passi sulla checkbox*/
.form-check-input:hover{
	cursor: pointer;
}

/*Grandezza di ricordami*/
.white-text{
	font-size: 16px;
}

/* Primo pulsante accedi "esterno"*/    /* ---------------------> nel nostro caso sarebbe quello nella nav bar*/
.primo{
	background-color: #009e0f;
	opacity: 0.9;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 20%;
}

/* Secondo pulsante accedi per confermare email e pasw */
.secondo {
	background-color: #009e0f;
	opacity: 0.9;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 95%;
	position: absolute;
	bottom: -25%;
	border-radius: 10px;
}

/* Ogni bottone diventa opaco quando ci passi sopra  */
button:hover {
	opacity: 0.8;
}

/* Caratteristiche di tutte le label(etichette degli input) nel form  */
label{
	font-size: 20px;
	color: white;
}

/* Caratteristiche del titolo 'Accedi'  */
h1{
	font-size: 30px;
	color: white;
}

/* Bordi arrotondati per l'immagine sfondo */
img{
	border-radius: 5px;
	
}


/* Caratteristiche contenitore in cui si trova il form e tutto il resto*/
.container {
	position: absolute;
	top: 10%;
	background-color: transparent;
	padding: 16px;
	
}

/* Caratteristiche secondo contenitore in cui si trova il "registrati qui" (prima c'era anche un tasto annulla ma l'ho tolto) */
.container2{
	background-color: transparent;
	position: absolute;
	bottom: 0;
} /* si deve aggiustare*/

/* Caratteristiche della parola "registrati qui" */
span.reg {
	color: white; 
	font-style: italic;
	font-size: 25px;
}

/* The Modal (background) */ /* Cose che non ho toccato */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
	padding-top: 60px;
}



/* Modal Content/Box */
.modal-content {
	position: relative;
	background-color: transparent;
	margin: 5% auto 15% auto;
	border: none !important;
	width: 70%; /* Could be more or less, depending on screen size */
}

/* Bottone chiusura (x) */
.close {
	position: absolute;
	right: 25px;
	top: 0;
	color: white;
	font-size: 35px;
	font-weight: bold;
	opacity: 1;
	
}

/* Se ci passi sopra diventa rosso e il puntatore cambia (x) */
.close:hover, .close:focus {
	color: red;
	cursor: pointer;
}

/* Add Zoom Animation */   /*  funziona */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
	
	span.reg {
 
	}
	
	h1 {
		width: 100%;
	}
}