@charset "ISO-8859-1";
*{
	    font-family: "Dosis";
	
	
}
body {
 /*   font-family: "Dosis";
	src: url("../font/Dosis/AnyConv.com__Dosis-Regular.otf");*/
}


@font-face{
	font-family: "Dosis";
	src: url("../font/Dosis/AnyConv.com__Dosis-Regular.otf");
}

/*icone*/
.cazzarielli {
	border-radius: 50px;
	background-color: white;
	position: absolute;
	box-shadow: -5px 0px 5px 0px rgba(40, 150, 5, 0.5);
	text-align: center;
	vertical-align: middle;
	float: left;
}

.cazzarielli-testo {
	height: auto;
	width: 80%;
	/* float: right; */
	padding: 15px;
	/* right: 50px; */
	position: relative;
	/* margin-right: 0px; */
	margin-left: 140px;
	/* padding-bottom: 6px; */
	border-radius: 5px;
	margin-bottom: 30px;
	border-bottom: 1px solid rgba(40, 150, 5, 0.2);
	box-shadow: 0px 5px 0px 0px rgba(40, 150, 5, 0.5);
	font-size: 24px;
}

h4 {
	font-size: 30px;
	font-weight: bold;
}
										/*Navbar*/
.nav-item > .navbar-element{

	color: #009e0f !important;
	font-weight: bold;
	font-size: 1.2rem !important;
	
}


/* fine nav bar*/


/****************************************** REGISTRAZIONE******************************************************************/
.registration {
	width:100%;
	margin:auto;
	max-width:600px;
	min-height:700px;
	position:relative;
	background:url(https://static.winenews.it/2019/01/AgricolturaItalia.jpg) no-repeat center;
	box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
	
}

.containerReg {
	position: absolute;
	width:100%;
	height:100%;
	background:rgba(30,105,50,.7);
	padding:50px 5px 10px 5px;
}

.etichette{
	font-weight: bold;
font-size: 1.2em;
	color: white;
	padding: 0;
}

.etichettaAcconsento{
	font-size: 1em;
	color: white;
	padding: 0;
}

.bottoneReg{ /*non so come si fa a far cambiare colore quando un pulsante è disabilitato e quando non */
	background: #1161ee;
    padding: 15px 20px;
    border-radius: 25px;
    width: 60%;
	color: white;
	margin:auto;
    text-transform: uppercase;
    box-sizing: border-box;
    cursor: pointer;
	position: relative;
	border:none;
	margin-top: 20px;
}


.bottoneReg2{ 
	background: #1161ee;
    padding: 15px 20px;
    border-radius: 25px;
    width: 60%;
	color: white;
	margin:auto;
    text-transform: uppercase;
    box-sizing: border-box;
    cursor: pointer;
	position: relative;
	border:none;
	margin-top: 50px;
}

 input[type=date] {
	width: 100%;
	margin: 0px 0 0px 0;
	display: inline-block;
	border: none;
	box-sizing: border-box;
	background: transparent;
	border-bottom: 1px solid rgba(255,255,255,.3);
	color:white; 

  	
}

.select{
	width: 100%;
	margin-top: 6px;;
	display: inline-block;
	border: none;
	box-sizing: border-box;
	background: transparent;
	border-bottom: 1px solid rgba(255,255,255,.3);
	color:white; 
}

option{
	opacity: 0.7;
}

input[type=date]:focus, .select:focus{
	-webkit-transition: 0.2s;
 	 transition: 0.2s;
 	 border-bottom: 2px solid white;
 	 
}


.riga {
    height: 2px;
   margin-top: 30px;
   margin-left: 100px;
   margin-right: 100px;
    background: rgba(255,255,255,.2);
}

.scritta{
	text-align: center;
	margin-top: 20px;
}
/******************************************LOGIN******************************************************************/

.hr {
    height: 2px;
    margin: 80px 0 50px 0;
    background: rgba(255,255,255,.2);
}

.foot-lnk {
    text-align: center;
}




/* Caselle di input */
input[type=text], input[type=password] {
	width: 100%;
	margin: 0px 0 0px 0;
	display: inline-block;
	border: none;
	box-sizing: border-box;
	background: transparent;
	border-bottom: 1px solid rgba(255,255,255,.3);
	color:white;
  	
}

#text, #psw{
	margin-top: 36px;
}	

input[type=text]:focus, input[type=password]:focus{
	-webkit-transition: 0.2s;
 	 transition: 0.2s;
 	 border-bottom: 2px solid white;
 	 
}

/* Checkbox di 'Ricordami' quando cliccata */
input[type="checkbox"] {
	box-sizing: border-box;
	padding: 0;
	color:white;
}

/* Checkbox disposizione */
.checkbox{

display: inline-block;

}




/* Cambia forma il puntatore quando passi sulla checkbox*/
.form-check-input:hover{
	cursor: pointer;
}

/*Grandezza di ricordami*/
.white-text{
	font-size: 20px;
}

/* Primo pulsante accedi "esterno"*/    /* ---------------------> nel nostro caso sarebbe quello nella nav bar*/
.primo{
	background: #009e0f;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 20%;
}

/* Secondo pulsante accedi per confermare email e pasw */
.secondo {
	background: #1161ee;
    padding: 15px 20px;
    border-radius: 25px;
    width: 100%;
	color: white;
	display: block;
    text-transform: uppercase;
    box-sizing: border-box;
    cursor: pointer;
	position: relative;
	border:none;

}
.group{
 margin-bottom: 30px;
}

/* Ogni bottone diventa opaco quando ci passi sopra  */
button:hover {
	opacity: 1;
}

/* Caratteristiche di tutte le label(etichette degli input) nel form  */
label{
	font-size: 1.5em;
	color: white;
	padding: 0;
}

/* Caratteristiche del titolo 'Accedi'  */
h1{
	font-size: 35px;
	color: white;
}

/* Bordi arrotondati per l'immagine sfondo */
img{
	border-radius: 5px;
}


/* Caratteristiche contenitore in cui si trova il form e tutto il resto*/
.container {
	position: absolute;
width:100%;
	height:100%;
		background:rgba(30,105,50,.7);

	padding:90px 70px 50px 70px;

		
}

/* Caratteristiche secondo contenitore in cui si trova il "registrati qui" (prima c'era anche un tasto annulla ma l'ho tolto) */
.container2{
	background-color: transparent;
	margin: auto;
  	width: 50%;
} /* si deve aggiustare*/

/* Caratteristiche della parola "registrati qui" */
/*.reg {
	color: white; 
	font-style: italic;
	font-size: 16px;
	
}*/

/* The modale (background) */ /* Cose che non ho toccato */
.modale {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
	padding-top: 60px;
	
}



/* modale Content/Box */
.login {
	width:100%;
	margin:auto;
	max-width:520px;
	min-height:660px;
	position:relative;
	background:url(https://images.vanityfair.it/wp-content/uploads/2019/04/19133507/P29-850x1360.jpg) no-repeat center;
	box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);


}

/* Bottone chiusura (x) */
.close {
	position: absolute;
	right: 25px;
	top: 0;
	color: white;
	font-size: 35px;
	font-weight: bold;
	opacity: 1;
	z-index: 1; /* Sit on top */
}

/* Se ci passi sopra diventa rosso e il puntatore cambia (x) */
.close:hover, .close:focus {
	color: red;
	cursor: pointer;
}

/* Add Zoom Animation */   /*  funziona */
.animate {
  -webkit-animation: animatezoom 0.6s; 
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
	
	span.reg {
 
	}
	
	h1 {
		width: 100%;
	}
}




/*GRANDEZZE large, medium, small, extra-large e extra-small*/

/* EXTRA-LARGE devices*/
@media all and (min-width: 1200px) {
	
}

/*large devices*/
@media all and (max-width: 1199px) and (min-width: 992px) {
	
}

/*medium devices*/
@media all and (max-width: 991px) and (min-width: 768px) {
	
	
}

/*small devices*/
@media all and (max-width: 767px) and (min-width: 601px) {
	
}

/*extra-small devices*/
@media all and (max-width: 600px) {
	
}

/****************************************** fine LOGIN******************************************************************/

/* menu*/
.icon-bar {
  width: 100px; 
  background-color: #c4eff4; 
  z-index:1;
  animation: fadeInLeft;
  animation-duration: 2s;
  float: left;
  position:fixed;
  margin-top: 10%;
  }
  
.icon-bar a {
  width:100px;
  display: block; 
  text-align: center; 
 /* padding: 16px;*/ 
  transition: all 0.3s ease; 
  color: white; 
  font-size: 40px;  
}

.icon-bar a:hover {
  background-color: white; 
   color: #c4eff4;
}

.icon-bar-text{
	visibility: hidden;
	text-align: center;
	position: absolute;
	background-color: #c4eff4;
	color:white;
	font-size: 20px;
}

.icon-bar a:hover > .icon-bar-text{
    visibility: visible;
	text-align: center;
	position: absolute;
	background-color: #c4eff4;
	width: 150px;
	height: 60px;
	margin-left:30px;
	animation: fadeIn;
	animation-duration: 2s;
	align-content: center;
}



/******************************************PRODOTTI FOTOSANITARI******************************************************************/

w3-row-padding{
	border: 1px solid black;
}

h3{
	font-size: 36px;
	font-weight: bold; 
	color: blue;
}

.pulsanti{
	margin-left: 200px;
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 10px 25px;
  border-radius: 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 14px 50px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.button1:hover {
  box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2), 0 6px 6px 0 rgba(0,0,0,0.19);
}

.button2:hover {
  box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2),0 6px 6px 0 rgba(0,0,0,0.19);
}



#avviso{
	position: relative;
	margin-top: 25px;
	margin-left: 150px;
	font-size: 10px;
	font-weight: bold;
	font-style: italic;
	color:red;
	opacity: 0.6;
	width: 80%;
	border: 1px solid #ff8080;
}

#avviso:hover{;
	opacity:1; 
	border: 1px solid red;
}

/* barra di ricerca */



.search {
  width: 80%;
  position: relative;
  margin-left: 150px;
  border: 2px solid #1161ee;
  border-radius: 25px;
  display: flex;
  
  
}


.searchTerm {
  width: 80%;
  padding-left: 10px;
  border-radius: 5px 0 0 5px;
  text-align: left;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #1161ee;
}

.searchButton {
  width: 40px;
  border: 1px solid #1161ee;
  background: #1161ee;
  text-align: center;
  color: #fff;
  border-radius:25px;
  cursor: pointer;
  font-size: 20px;
  position: relative;
  
}



/* elenco */

#intest{
	font-size: 18px;
	
}

.prodFit{
	margin-left: 150px;
	width: 80%;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

/*scadenze*/
.scad{
	margin-top: 25px;
	margin-left: 150px;
	width: 80%;
}


/* paginazione */
.pagination {
  display: inline-block;
  margin-top: 30px;
  margin-left: 500px;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination a.active {
  background-color: #4CAF50;
  color: white;
  border-radius: 25px;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
  border-radius: 25px;
}

