@charset "ISO-8859-1";
/* 
nav{
	display: grid;
  	grid-template-columns: 20% 50% 10%;
    grid-column-gap: 5%;
	align-items: center;
	min-height: 12vh;
	background-color:white;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.3);
     align-items: center;
}
.nav-logo{text-align: center;}
.nav-logo > img{
	width: 40%;
    height: auto;
}

.nav-links{
	 display: grid;
     grid-template-columns: 26% 18% 18% 18%;
     justify-content: center;
     width: 100%;
     height: auto;
      align-items: center;
}
.nav-links a{
	
	text-decoration: none;
	color: #009e0f;
	font-weight: bold;
	font-size: 1.2vw;
	width: 100%;
	  height: auto;
	  text-align: center;
}
.nav-links li{
	
	list-style: none;
text-align: center;
	
}
nav > .accedi > button{
	text-align: center;
	background-color: #009e0f;
	color:white;
	font-weight: bold;
	 border: none;
	 box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
	 height: 50px;
	 border-radius: 4px;
	 width: 100px;
}
.dropdown-content {
  display: none;
  position: relative;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}*/

.divPresentazione{
	
	background-color: #f6f6f6;
	
}
#login .container #login-row #login-column #login-box {
  

  border: 1px solid #9C9C9C;
  background-color: #EAEAEA;
}
#login .container #login-row #login-column #login-box #login-form {
}
.popover-body{
	width: 800px !important;
	height: 400px !important;
}
.nav-item > .navbar-element{

	color: #009e0f !important;
	font-weight: bold;
	font-size: 1.2rem !important;
	
}
.mr-6{
	
	margin-right: 7rem !important;
}
.popup-loggin{
	
	background-color: #009e0f !important;
	font-weight: bold !important;
	color:white !important;
	
}
.navbar{
	
	  background: white !important;
}
.footer{
padding-top: 3%;	
color:white;
}
.row > .col > ul {
margin-left: 0px;	
padding-left: 0px;
	
	
}
.row > .col > ul >li{
list-style: none;	
	
	
}
.row > .col > h5{
border-bottom: 1px solid;	
	
}
.dropdown:hover>.dropdown-menu {
  display: block;
}
.carousel-item{
    height: 500px;
} 
.carousel-item img{
    height: 500px;
}
.registration{
	
	animation: fadeInRight;
	animation-duration: 2s;
	
}
#utente{
	
	animation: fadeInRight;
	animation-duration: 2s;
}
.dropdown-menu-animation{
	
	animation:slideInUp;
	animation-duration:1s!important;
	
	
}
.navbar-sx{
	width:8rem;
	height:25.5rem;
	margin-top:10%;
	margin-bottom: 10%;
	background-color: aqua;
	animation: fadeInLeft;
	animation-duration: 2s;
	
}
.nav-item >.icon{
color: white;
    background-size: 100% 100%;

}
.nav-item >.icon:hover{
	background-color: white;
	color: aqua;
    background-size: 100% 100%;

}
.nav-item >.icon >i{

    background-size: 100% 100%;
    font-size: 6.2em;

}
	


.tooltiptext {
   
  visibility: hidden;
  width: 150px;
  height:100px;
  background-color: aqua;
  font-weight: bold;
  color: white;
  text-align: center;
  padding: 5px 0;
  margin-left:40px;

  /* Position the tooltip */
  position: absolute;
  
}

.icon:hover> .tooltiptext {
  visibility: visible;
  animation: fadeInLeft;
	animation-duration: 2s;
   margin-bottom: 30px;
}




