@charset "ISO-8859-1";
/* 
nav{
	display: grid;
  	grid-template-columns: 20% 50% 10%;
    grid-column-gap: 5%;
	align-items: center;
	min-height: 12vh;
	background-color:white;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.3);
     align-items: center;
}
.nav-logo{text-align: center;}
.nav-logo > img{
	width: 40%;
    height: auto;
}

.nav-links{
	 display: grid;
     grid-template-columns: 26% 18% 18% 18%;
     justify-content: center;
     width: 100%;
     height: auto;
      align-items: center;
}
.nav-links a{
	
	text-decoration: none;
	color: #009e0f;
	font-weight: bold;
	font-size: 1.2vw;
	width: 100%;
	  height: auto;
	  text-align: center;
}
.nav-links li{
	
	list-style: none;
text-align: center;
	
}
nav > .accedi > button{
	text-align: center;
	background-color: #009e0f;
	color:white;
	font-weight: bold;
	 border: none;
	 box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
	 height: 50px;
	 border-radius: 4px;
	 width: 100px;
}
.dropdown-content {
  display: none;
  position: relative;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}*/

/*
.divPresentazione{
	
	background-color: #f6f6f6;
	
} */

body{
  font-family:"Calisto MT", Times, serif;
  overflow-x:hidden; 
}





 										/*Popup form*/
#login .container #login-row #login-column #login-box {
  

  border: 1px solid #9C9C9C;
  background-color: #EAEAEA;
}
#login .container #login-row #login-column #login-box #login-form {
}
.popover-body{
	width: 800px !important;
	height: 400px !important;
}


										/*Navbar*/
.nav-item > .navbar-element{

	color: #009e0f !important;
	font-weight: bold;
	font-size: 1.2rem !important;
	
}
.mr-6{
	
	margin-right: 7rem !important;
}
.ml-6{
	margin-left: 7rem;
	
}
.ml-7{
	margin-left: 8rem;
	
}
/* popoup altro codice*/
.popup-loggin{
	
	background-color: #009e0f !important;
	font-weight: bold !important;
	color:white !important;
	
}
.navbar{
	
	  background: white !important;
}
.navbar-toggler{
	
	margin-left: 50%;
}
.footer{
padding-top: 3%;	
color:white;
}
.row > .col > ul {
margin-left: 0px;	
padding-left: 0px;
	
	
}
.row > .col > ul >li{
list-style: none;	
	
	
}
.row > .col > h5{
border-bottom: 1px solid;	
	
}
.dropdown:hover>.dropdown-menu {
  display: block;
}
.carousel-item{
    height: 500px;
} 
.carousel-item img{
    height: 500px;
}
.registration{
	
	animation: fadeInRight;
	animation-duration: 2s;
	
}
#utente{
	
	animation: fadeInRight;
	animation-duration: 2s;
}
.dropdown-menu-animation{
	
	animation:slideInUp;
	animation-duration:1s!important;
	
	
}

.icon-bar {
  width: 100px; 
  background-color: aqua; 
  z-index:1;
  	animation: fadeInLeft;
	animation-duration: 1s;

float: left;
  position:fixed;
  margin-top: 10%;
  }
  


.icon-bar a {
	width:100px;
  display: block; 
  text-align: center; 
 /* padding: 16px;*/ 
  transition: all 0.3s ease; 
  color: white; 
  font-size: 40px; 
  
}

.icon-bar a:hover {
  background-color: white; 
   color:aqua;
  

}


.icon-bar-text{
	visibility: hidden;
	text-align: center;
	  position: absolute;
	background-color: aqua;
	color:white;
	font-size: 20px;
	
}

.icon-bar a:hover > .icon-bar-text{
     visibility: visible;
	text-align: center;
	  position: absolute;
	background-color: aqua;
	width: 150px;
	height: 60px;
	margin-left:30px;
	animation: fadeIn;
	animation-duration: 1s;
	align-content: center;

}
/*tracciabilità*/
.textarea > textarea {
        overflow-y: scroll;
        height: 100px;
        resize: none; 
        height: auto;
    }
.bottone-tracciabilità{
 	background-color: green;
 	color:white;
 	border: none;
 	font-weight: bold;
 	text-align: center;
 	font-size: 1rem;	
 	height: 30px;
 	border-radius: 6px;
 	
}
.icon-bar-vertical > a{
	font-size: 2rem;
	
	
	
	
}
@media screen and (max-width: 1200px) {
	
	.ml-7{
	margin-left: 2rem;
	
}
	
	
}
/*Registro */

table{
 height: 500px;
  overflow-y: scroll;
  display: block;
  border: solid 1px gray;
  
  
  }
 .head-tabella{
 
 
 background-color: green;
  color: white; 
 font-weight: bold;
  font-size: 18px;
   height:75px;
 
 }
/*
.table-fixed tbody {
  height: 230px;
  overflow-y: scroll;
  width: 100%;

}
*/
.buttone-registro{
	
	height: 20%;
	width: 70%;
	background-color: green;
	color:white;
	font-weight: bold;
	  border: none;
	  text-align: center;
	
	  border-radius: 5px;
	
}
#grid-registro{
	margin-left:10%;
	display: grid;
  	grid-template-columns: 5% 80% 15%;
	  height: 500px;
	
}
#tab-registro{
  float: left;
  width: 30%;
}

#tab-registro button {
	display: block;
  background-color: inherit;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
    text-align: center;
  
}
#tab-registro button.active {
  background-color: green;
  color: white;
  font-weight: bold;
}


#tab-registro button:hover {
  background-color: #ddd;
}
.tabcontent{
  width: 100%;
  height: auto;
}
.cazzarielli{
	
	border-radius: 50px;
	 background-color:white; 
	 height: 60%;
	  width: 13%;
	   position: absolute; 
	   box-shadow: -2px 0px 2px 0px rgba(0,0,0,.15);
      text-align: center;
	vertical-align: middle;
   
	font-size: 40px;
	
	
}
.cazzarielli-testo{
	
	
	
	height: auto; width: 80%; float: right; padding-left:6% ;
}

/*Tabella prodotti fitosanitari*/
/*
.fixed_header tbody{
  display:block;
  overflow:auto;
  height:500px;
  width:100%;
    text-align: center;
  
}
.fixed_header thead tr{
  display:block;	
  
}
.fixed_header{
	display: block;
	
	
}*/
/*
table tbody, table thead
{
    display: block;
}
*/
/*
table tbody 
{
   overflow: auto;
   height: 500px;
}
*/
/*
th
{
    width: 48%;
}
*/
/*
td
{
    width: 48%;
}
*/
.bottone-modifica{
	
   visibility: hidden;
	
	
}

td > input[type="text"]:disabled{
	border: none;
	text-align: center;
	
	
	
}
td > input[type="text"]{
    pointer-events: none;
    border: none;
	text-align: center;
	background-color: transparent;
	
	
	
}